<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.svg"
      alt="Sakai logo"
      class="mb-5 w-6rem flex-shrink-0"
    />
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <!-- <img src="assets/layout/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
          <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
          <span class="text-600 font-medium">Sign in</span>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="block text-900 text-xl font-medium mb-2"
              >Email</label
            >
            <input
              id="email"
              type="text"
              placeholder="Email address"
              pInputText
              class="w-full md:w-30rem mb-2"
              style="padding: 1rem"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
              >Password</label
            >
            <input
              id="password"
              type="password"
              class="w-full md:w-30rem mb-2"
              pInputText
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              formControlName="password"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          >
            <div class="flex align-items-center">
              <p-checkbox id="rememberme" styleClass="mr-2"></p-checkbox>
              <label for="rememberme">Remember me</label>
            </div>
            <a
              class="font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)"
              >Forgot password?</a
            >
          </div>
          <button
            pButton
            pRipple
            label="Sign In"
            class="w-full p-3 text-xl"
            [disabled]="loading"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
            {{ error }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
